<div class="ticketDisplay">
  {{#if ticketClosed}}
    <h4>Your ticket has been closed</h4>
  {{else}}
    <h3>Thanks, {{ticket.name}}. Help is on the way.</h3>
    <p>Leave this page open while you continue working on the problem.</p>
    <button class="btn" {{action 'closeTicket' ticket}}>Nevermind, we got it.</button>
  {{/if}}
</div>
